body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  background-color: #bbbbbb;
}

.closestDevice {
  font-weight: bold;
}

.iAmClosest {
  background-color: #88ccff;
}

.iAmClosest.buttonDown {
  background-color: red;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 20px;
}
