body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  background-color: #bbbbbb;
}

.closestDevice {
  font-weight: bold;
}

.iAmClosest {
  background-color: #88ccff;
}

.iAmClosest.button1Down {
  background-color: red;
}

.iAmClosest.button2Down {
  background-color: #44ff44;
}

.iAmClosest.button3Down {
  background-color: #4488ff;
}

.iAmClosest.button1Down.button2Down {
  background-image: linear-gradient(red, #44ff44);
}

.iAmClosest.button3Down.button2Down {
  background-image: linear-gradient(#44ff44, #4488ff);
}

.iAmClosest.button1Down.button3Down {
  background-image: linear-gradient(red, #4488ff);
}

.iAmClosest.button1Down.button2Down.button3Down {
  background-image: linear-gradient(red, #44ff44, #4488ff);
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 20px;
}
